div {
  height: 150px;
  width: 150px;
  background-color: blue;
  font-size: 20px;
  animation: Myname 1s ease-in-out 0s 10 normal;
}
@keyframes Myname {
  from {
    background-color: blue;
    color: black;
  }
  to {
    background-color: red;
    color: aliceblue;
  }
  /* 0%{font-size: 20px;}
  50%{font-size: 30px;}
  100%{font-size: 50px;} */
}
