div {
  height: 150px;
  width: 150px;
  font-size: 18px;
  color: black;
  background-color: red;
  transition: width 2s ease-in 0.25s;
}
div:hover {
  width: 360px;
  color: aliceblue;
}
