div{
    height: 150px;
    width: 150px;
    position: relative;
    top: 100px;
    left: 100px;
    background-color: red;
    /* transform: rotatey(32deg); */
    /* rotate:z 45deg; */
    /* transform: scalex(2); */
    /* transform: translatex(200px); */
    transform: skew(30deg);
}